{:min-bb-version "1.0.0"
 :paths ["src" "resources"]
 :deps {org.babashka/http-client {:mvn/version "0.3.11"}}
 :tasks {:requires ([nexus-api-client.cli :as c])
         nexus {:doc "Print docker images"
               :task (apply c/-main *command-line-args*)}}}