{:min-bb-version "1.0.0"
 :paths ["src" "resources"]
 :tasks {:requires ([nexus-api-client.cli :as c])
  hello {:doc "Print hello"
         :task (let [args *command-line-args*]
                 (println "hello" )
                 (doseq [a args]
                   (println "Arg" a))
                 (println "Hello 2:")
                 (c/hello-cli *command-line-args*))}}}